[2016-09-13 02:30] pnathan opened #2 "deploy to github pages"
Deploy to github pages

[2016-09-13 02:30] pnathan opened #3 "ensure we are using gh-flavor jekyll"

[2016-09-13 02:31] pnathan opened #4 "Make the UI pop"
The UI does not pop. It should pop.

(Mild satire: the current UI looks ridiculously minimalist, with almost no color)

[2016-09-13 02:33] pnathan opened #5 "Find Domain Name"
we should have a domain name for this

[2016-09-13 02:35] pnathan opened #6 "Develop list of topics to point out"
We need to have a list of topics to write about. Please submit a github issue to track a particular topic!

Please feel free to contribute to the topic yourself, sending in a pull request.

I would ask that contributions.... at the end... be (1) very carefully correct (2) very carefully sourced (3) done in a WIP process - you don't have to be perfect to submit the pull request! Collaboration can m

[2016-09-13 03:06] andrewjtimmons commented on #5
open domains on https://www.gandi.net/domain/suggest

ilikehillarybut.us
i-like-hillary-but.com

[2016-09-13 20:48] thelmaboamah commented on #4
Hi Paul... I can mock up a design and help with styling

[2016-09-13 20:53] pnathan commented on #4
Hi Thelma,

Happy to hear that! We're using Jekyll - a variety of prebaked themes exist
for it - MRoswell noted some links to them on the Trello thread. And, I am
happy to answer questions on slack when I'm around there (generally after
dinner PST).

Please let me know how I can help you here!

On Tue, Sep 13, 2016 at 1:48 PM, Thelma Boamah notifications@github.com
wrote:

[2016-09-13 21:38] thelmaboamah commented on #4
Ok reading through the Trello thread to get up to speed. I'll check in on Slack later.

[2016-09-14 04:42] pnathan opened #8 "Topic: But Isn't Hillary Too Sick?"
This week, the apparent drum to beat is about Hillary's health. Let's debunk the rumors with some facts

Reference: #6

[2016-09-16 04:59] thelmaboamah opened #13 "Favicon design"
Hey, if the design changes I incorporated are OK, I want to suggest the following simple design for the favicon. Let me know what you think.
![ilhb](https://cloud.githubusercontent.com/assets/17172664/18575695/a64a4a22-7ba8-11e6-9834-4cac2ee75ac0.png)

[2016-09-16 05:18] pnathan commented on #13
What about something organized to delineate between the "I like Hillary" and the "But"

[code]

?

as it is, it kind of codes IL and HB to me?

I like the sans serif block style you're going with BTW

[2016-09-16 05:18] pnathan commented on #2
done, thanks @phildini

[2016-09-16 05:18] #2 closed

[2016-09-16 05:28] pnathan opened #14 "Misaligned Github link at page bottom"
![misaligned-github](https://cloud.githubusercontent.com/assets/761056/18576140/8f4d7fe8-7b93-11e6-835b-fe9b3b44a235.jpg)

This link is misaligned with the image on Firefox/Aurora and Chrome, both on Linux.

[2016-09-16 07:06] thelmaboamah commented on #13
@pnathan here's what that could look like.

![fav](https://cloud.githubusercontent.com/assets/17172664/18577849/7a1f4968-7bba-11e6-9732-04ef2aad0b46.png)

[2016-09-16 16:03] pnathan commented on #13
I think that looks amazing!

On Sep 16, 2016 12:06 AM, "Thelma Boamah" notifications@github.com wrote:

[2016-09-17 05:00] thelmaboamah commented on #13
:smiley: great.

[2016-09-17 17:20] dglazkov opened #17 "Set up continuous integration"
Every good thing needs CI. For example, ILHB would benefit from [`html-proofer`](https://github.com/gjtorikian/html-proofer).

[2016-09-17 17:43] pnathan commented on #13
@thelmaboamah feel free to put that favicon in and close this ticket!

[2016-09-17 17:48] pnathan commented on #17
:+1:

[2016-09-17 18:09] thelmaboamah commented on #13
Yes I will. Busy today but I'll get time to take care of it tomorrow.

On Sep 17, 2016 1:43 PM, "Paul Nathan" notifications@github.com wrote:

[2016-09-20 03:24] pnathan opened #19 "CTA: Share button (share to facebook, twitter, etc)"
Call to action: Share button.

Should have Twitter, Facebook, ... ? Pinterest? Snapchat? Whatsapp?

[2016-09-20 03:24] pnathan opened #20 "CTA: Register to vote"
2) Registered to Vote? button that links to  http://www.rockthevote.com/get-informed/elections/am-i-registered-to-vote/

[2016-09-20 03:25] pnathan opened #21 "FAQ submission setup"
a button that says "Find What You Were Looking For? If not, submit another question to this site". When clicked, that button would open a mini paragraph field (* = required) and a single field for email address (no asterisk ie not required)

[2016-09-20 03:25] #17 closed

[2016-09-20 03:26] dglazkov opened #22 "feed.xml constantly needs rebasing"
We need to either make it less sensitive to time of build (use the last modified time maybe?) or remove altogether.

[2016-09-20 03:49] pnathan opened #23 "Cartoon confused character replacing image"
![pondering](https://cloud.githubusercontent.com/assets/761056/18656944/74280124-7eaa-11e6-85ce-34a99a915750.jpg)

Right now this gent adorns our demo site's page. A cartoon character with a similar pose & expression would be ideal here.

[2016-09-20 05:10] pnathan opened #25 "Travis isn't happy"
had to add the following to PR #24

[code]
to get rake to run; after that, this complaint showed up, which... er... !!!  I fussed with different ruby versions, no dice

[code]

[2016-09-20 13:55] dglazkov commented on #25
WIll look tonight.

[2016-09-21 03:04] dglazkov opened #28 "Create a contributor's guide"
Build an easy pipeline and instructions for it to let content producers contribute great content.

[2016-09-21 03:52] #25 closed

[2016-09-21 16:49] robmyre opened #30 "Topic: But Hillary's foundation is crooked, right?"
---
layout: post
title: "But isn't Hillary Clinton's foundation corrupt?"
categories: trust
---

Q: Isn't The Clinton Foundation corrupt?

A: Nothing could be further from the truth. First, let's take a quick look at the foundation's history. The Clinton Foundation was founded by President Bill Clinton in 2001, originally to support the work of the Clinton Presidential Center, which contains his P

[2016-09-22 23:00] thelmaboamah commented on #14
I think we should change the footer content anyway to just link to the devprogress homepage rather than the github since our target user doesn't need that info.

[2016-09-22 23:10] pnathan commented on #14
+1

On Sep 22, 2016 4:00 PM, "Thelma Boamah" notifications@github.com wrote:

[2016-09-23 18:59] thelmaboamah commented on #14
hey @pnathan, can you confirm that the footer looks ok in your browsers.

[2016-09-24 03:22] pnathan commented on #14
looks good!

On Fri, Sep 23, 2016 at 11:59 AM, Thelma Boamah notifications@github.com
wrote:

[2016-09-24 03:44] #14 closed

[2016-09-24 04:15] thelmaboamah commented on #23
I ran this through a photo editor. What do you think?

![skepticedited](https://cloud.githubusercontent.com/assets/17172664/18805962/ecac465e-81e9-11e6-9100-2129c5306d46.jpg)

![skeptic-sepia](https://cloud.githubusercontent.com/assets/17172664/18806025/dfea6dcc-81eb-11e6-9c5e-d2212eb0435f.jpg)

[2016-09-25 06:11] pnathan commented on #23
H'm. Either, I think. Which one do you think works better?

[2016-09-25 06:13] #28 closed

[2016-09-25 06:17] #22 closed

[2016-09-25 06:33] pnathan commented on #30
ref pr #32

[2016-09-26 05:02] thelmaboamah commented on #23
The one w/ color looks better. Is it cartoony enough or is it still making you wonder who he is?

![screen shot 2016-09-25 at 4 58 00 pm](https://cloud.githubusercontent.com/assets/17172664/18823081/7d3d40c4-8384-11e6-9cc8-30e01b7634da.png)

[2016-09-26 15:25] dglazkov opened #39 "html-proofer is flakey"
On several occasions now,  running `html-proofer` on travis resulted in false negatives, which undermines the point of continuous integration.

[2016-09-26 15:26] dglazkov commented on #39
@pnathan reported the flake on #37, and I saw one on master (needed to trigger rebuild manually).

[2016-09-29 04:19] jillh510 commented on #19
Can this issue be closed?

[2016-09-29 19:16] Eyas commented on #19
The pull request has not been merged yet, It should get closed automatically once the PR is merged.

[2016-09-30 07:17] #19 closed

[2016-10-01 00:16] robmyre commented on #8
@pnathan I think this looks great.

[2016-10-01 03:38] pnathan commented on #30
https://github.com/DevProgress/i-like-hillary-but/pull/36 merged.

[2016-10-01 03:38] #30 closed

[2016-10-01 03:38] pnathan commented on #23
closed by #40

[2016-10-01 03:38] #23 closed

[2016-10-01 03:39] pnathan commented on #8
thanks @robmyre . Based on your feedback, I'm closing the issue and merging the PR

[2016-10-01 03:40] #8 closed

[2016-10-01 04:20] dglazkov commented on #39
Huh I thought that the "too many 302s" was a flake, but turns out it wasn't

[code]

Looking at http://psycnet.apa.org/journals/emo/9/5/649/, there are actually 3 redirects happening. But why does it not fail locally?

[2016-10-01 04:24] dglazkov commented on #8
Cool! The html-proofer was actually right! The link https://www.washingtonpost.com/politics/clinton-falls-ill-during-911-memorial-service-in-new-york/ doesn't go anywhere.

[2016-10-02 01:52] bhaibel opened #45 "settle on a ruby version"
docs say 2.3.1, Gemfile.lock says 2.0.0. I'm guessing we want 2.3.1 because 2.0.0 is no longer maintained.

[2016-10-02 02:17] bhaibel commented on #21
I'm guessing this will want to link to a google form or something like?

[2016-10-02 04:09] #45 closed

[2016-10-02 04:58] dglazkov commented on #39
Added docs to work around flakiness in #44. Closing.

[2016-10-02 04:58] #39 closed

[2016-10-03 03:32] coreyleamon commented on #4
Updated the visuals, [please see mocks](https://devprogress.slack.com/files/coreyleamon/F2JBNKD2L/idvoteforhillarybut.zip).

[2016-10-03 03:52] thelmaboamah commented on #4
looks great, @coreyleamon. do u have a suggestion for a favicon? we'll need a new one since the name is changing to i'd vote for Hillary, but... which I agree works better than I like...

[2016-10-03 21:18] Eyas opened #51 "Update content titles according to most recent UX guidelines"
The new experience outlined by @coreyleamon entails a refresh of our individual post titles:

- "But" is no longer part of each post title. Instead the home page reads:
  - "I'd vote for Hillary, but..." and then each myth is stated as an assertion after an ellipsis (...)
  - The title reads Fiction: "..." with each myth stated as an assertion.

This issue tracks the renaming of articles to confir

[2016-10-03 21:20] Eyas opened #52 "Rename site to "I'd vote to Hillary, but...""
This includes:

1. Update the name
2. Update the default path in the URI
3. Any updates necessary for social media

[2016-10-03 21:22] Eyas opened #53 "UX: Should home page animation still take place if navigating back from post?"
We go to the website and see 1 sec long loading animation when it loads. A user could then go to a sub-page then click "Back" to go back to the home page. In that case, should the page still animate?

[2016-10-05 01:02] shawnlauzon commented on #53
I strongly believe it should not animate. I just installed and it's really annoying to see the animation every time.

[2016-10-05 01:02] shawnlauzon commented on #5
hillarybut.com?

[2016-10-05 01:10] shawnlauzon opened #55 "Decrease height of header when scrolling down"
On my small screen, the "Fiction" header takes up a lot of space. When scrolling down, it should still be pinned to the top, but decrease its size so that it takes up less space and more of the main text is visible.

[2016-10-05 01:11] shawnlauzon commented on #20
This is complete, right?

[2016-10-05 01:17] pnathan commented on #53
I would agree with Shawn, I don't think the animation is excellent here.

[2016-10-05 01:26] shawnlauzon commented on #21
It should be easy enough to create a simple page or popup which does this without going to a google form. A mockup would be useful on this one.

[2016-10-05 01:39] pnathan opened #56 "google analytics for the site"
add google analytics to the proper block

[2016-10-05 03:24] decause commented on #56
@pnathan what is the URL?

[2016-10-05 03:39] pnathan commented on #56
an order for iwouldvoteforhillarybut.info has been placed on my Gandi account.

[2016-10-05 03:55] pnathan commented on #52
iwouldvoteforhillarybut.info is now registered to me  and aimed at github servers

[2016-10-05 03:55] pnathan commented on #5
iwouldvoteforhillarybut.info registered to me.

[2016-10-05 03:55] #5 closed

[2016-10-05 03:58] decause commented on #56
[code]

[2016-10-05 03:58] #56 closed

[2016-10-05 04:42] Eyas commented on #20
Yes, closed by #48 good catch!

[2016-10-05 04:42] #20 closed

[2016-10-05 04:48] Eyas commented on #55
In addition to modifying font sizes, #51 will result in shortening titles which should help as well.

[2016-10-07 01:38] shawnlauzon commented on #53
Still occurs for me on newest build on my local server.

[2016-10-07 01:40] dglazkov commented on #53
Let's debug! What browser are you using and what are the steps to reproduce the problem?

[2016-10-07 01:43] shawnlauzon commented on #53
Chrome on Mac OS X. Click on any issue. Then click each back or left caret: result is "I'd vote for hillary but" full screen and then animate to the top.

[2016-10-07 01:46] shawnlauzon commented on #53
localStorage has one variable: animated=yes

[2016-10-07 01:46] dglazkov commented on #53
Ok. Does this happen when you go to https://devprogress.us/i-like-hillary-but/?

[2016-10-07 01:48] shawnlauzon commented on #53
Yes

[2016-10-07 02:16] dglazkov commented on #53
@shawnlauzon and I went on a journey and discovered that it was an extension, interfering with the animation triggering. I will think of a better solution, since this may impact other users.

[2016-10-07 04:00] stefmcneely74 commented on #51
maybe this title should start with "Isn't" "Hillary so cold, robotic, and unlikeable"

And I think we can do some grammar edits/spell checks.

[2016-10-08 02:46] jmithani opened #78 ""I'm still not convinced" needs to do something"
The link at the bottom of the post pages should link to something or be removed.

[2016-10-08 02:47] Eyas commented on #78
Duplicate of #21

[2016-10-08 02:47] #78 closed

[2016-10-08 03:33] dglazkov commented on #21
Can do a simple in-line form that the button turns into when clicked. The form submits to a Google Form of our choice. Sounds good to everyone? There are always going to be spam concerns, but eh. We can disable if it gets too bad.

[2016-10-08 03:56] dglazkov commented on #21
@bhaibel are you working on this? Do you mind if I pitch in?

[2016-10-08 04:20] #52 closed

[2016-10-08 04:20] #51 closed

[2016-10-08 12:21] #53 closed

[2016-10-08 18:19] Eyas opened #88 "Add images to individual posts for social sharing"
I updated our template such that:

- Jekyll variable `page.image` adds an image to the page itself and appears as its social sharing image.
- Jekyll variable `page.sharing_image` sets the image to the social sharing image only (if `page.image` is not set)
- Jekyll variable `site.sharing_image` is used for social sharing otherwise

We want to go over our pages and decide which ones could use a more

[2016-10-08 18:19] Eyas commented on #88
cc @stefmcneely74

[2016-10-08 19:39] jillh510 opened #90 "Descenders on header are white-on-white"
Blue background on title needs to be taller to accommodate descenders. See attached.
![screen shot 2016-10-08 at 3 27 43 pm](https://cloud.githubusercontent.com/assets/2319837/19216331/d651f5c4-8d6b-11e6-9b73-c20089913445.png)

Chrome on Mac OSX.

[2016-10-08 19:40] jillh510 opened #91 "Missing comma in gun violence item"
"allowed a shooter to gun down nine people in Charleston, South Carolina by"

should be another comma after "Carolina"

[2016-10-08 19:42] jillh510 opened #92 "More wording/grammatical nits in gun violence item"
'make it a federal crime to intentionally buy": split infinitive. Maybe "make it a federal crime intentionally to buy".

"Hold accountable irresponsible gun dealers.": I first read this as "the gun dealers are both irresponsible and accountable, and we're gonna hold them". Maybe "Hold irresponsible gun dealers accountable".

[2016-10-08 19:43] jillh510 opened #93 ""I'm still not convinced" link goes nowhere"
Clicked the "I'm still not convinced" link on https://hillarymyths.org/issues/but-hillary-wants-my-guns/#, and nothing happened.

[2016-10-08 19:44] jillh510 commented on #93
Also a problem on https://hillarymyths.org/issues/hawk/#.

[2016-10-08 19:46] jillh510 opened #94 "Capitalization nit on "isn't Hillary a hawk" page"
"take the president at his word " : President is capitalized when discussing the US President.

[2016-10-08 19:47] jillh510 opened #95 "Supply a utm_source on donate link?"
Do we want a utm_source on the "donate" link so that contributions form this site can be attributed to Dev Progress?

[2016-10-08 19:49] uberdog opened #96 "Fix DevProgress footer alignment"
The DevProgress link at the bottom of the page is strangely aligned. It should either be flush with "I'm not convinced" and the social media buttons, or centered.
<img width="1343" alt="screen shot 2016-10-08 at 3 46 37 pm" src="https://cloud.githubusercontent.com/assets/1243310/19215529/d4bb1c10-8d6e-11e6-91fc-72bfb955b07d.png">

[2016-10-08 19:50] asfalcone opened #97 "Spelling mistake"
Link: https://hillarymyths.org/issues/bad-experience/

unaassuming should be _unassuming_

[2016-10-08 19:51] jillh510 opened #98 "Grammar and wording nits on Clinton Foundation page"
"high ratings transparency and accountability" -> "highest ratings for transparency and accountability".

" including: battling" -> no colon after "including".

Might also make sense to give context on the ratings. For instance, is it four stars out of five? Out of 100?

[2016-10-08 19:55] jillh510 opened #99 "Grammar nit on "too sick" page"
"Dan Rather has well over 40 years of context for Presidential campaigns: he ought to " -> colon should be semi-colon

[2016-10-08 19:57] jillh510 opened #100 "Possible wording change on "free trade" page"
'Hillary voted for roughly half of the trade deals that came before her"....made me briefly think, "so she didn't vote on the others? Was she on vacation, or what?". Maybe reword to "Hillary voted in favor of roughly half..."

[2016-10-08 19:57] asfalcone commented on #98
https://hillarymyths.org/issues/clinton-foundation-crooked/

Might also consider describing what kinds of opportunities is meant in "increasing opportunities for women and girls". I didn't see a bullet in the accomplishments section to describe it either

[2016-10-08 20:01] asfalcone opened #101 "Style inconsistency on issues pages"
It seems like the first 2 bullets on an issues page are blue (a Q & A), and all others are black. On the emails page, the first item is a source link, so only the first Q is blue

https://hillarymyths.org/issues/emails/

![image](https://cloud.githubusercontent.com/assets/1848683/19215595/5978846e-8d70-11e6-98c8-eef32e2a3c75.png)

https://hillarymyths.org/issues/clinton-foundation-crooked/

![imag

[2016-10-08 20:08] asfalcone opened #102 "Answer not on new line on too sick page"
The answer to 9/11 memorial question isn't on its own line (all other answers are)

https://hillarymyths.org/issues/isnt-hillary-too-sick/

![image](https://cloud.githubusercontent.com/assets/1848683/19215641/5010ebae-8d71-11e6-831b-661bd701bc27.png)

[2016-10-08 20:32] fny opened #103 "Feedback"
Sorry for a dump like this! Making an issue for each suggestion would have been too cumbersome. All of this feedback relates to the mobile experience and design. I'd be happy to make these adjustments (and more) my self.

### Overall

- Nice work! I think this will be incredibly useful as a reference when making counter arguments.
- Make sure to run a spelling and grammar check across all the copy

[2016-10-08 21:51] #102 closed

[2016-10-08 21:51] #97 closed

[2016-10-08 21:55] #94 closed

[2016-10-08 21:55] #100 closed

[2016-10-09 00:12] Eyas commented on #103
Hi @fny could yo comment on which items remain to be done after #110?

[2016-10-09 00:14] Eyas commented on #93
Duplicate of #21

[2016-10-09 00:14] #93 closed

[2016-10-09 00:15] #99 closed

[2016-10-09 00:18] Eyas commented on #90
Hmm, I somehow can't reproduce this. What Chrome version? For me, the header expands with the text, even if it grows to multiple lines.

[2016-10-09 00:19] Eyas commented on #95
Do we just get to pick any utm_source here? Is there a standard DevProgress one we use? Not sure how this works.

[2016-10-09 00:21] decause commented on #95
We do it on a per project basis. Create one for yours :)

[2016-10-09 00:22] Eyas commented on #95
By create, do you mean simply "come up with a string and put it there"?

[2016-10-09 01:04] #92 closed

[2016-10-09 01:04] Eyas commented on #91
Closed with #108

[2016-10-09 01:04] #91 closed

[2016-10-09 01:06] jillh510 commented on #90
Version 52.0.2743.116 (64-bit)

[2016-10-09 01:07] jillh510 commented on #90
I don't see the issue on Safari.

[2016-10-09 01:14] jillh510 commented on #90
In the dev tools, if I turn off "border-box !important" style on the header.post-header element, the vertical spacing looks correct (although the horizontal padding/margins also change)

[2016-10-09 01:27] #90 closed

[2016-10-09 01:30] #95 closed

[2016-10-09 01:47] uberdog opened #116 "Add dates to Hillary quotes that need them"
Under the Trade section, on TPP, there's a HRC quote that needs a date. It's confusing because she was talking about something that happened "last week" and something that she thought 3 years ago. It could read like real time right now.
<img width="956" alt="screen shot 2016-10-08 at 9 46 35 pm" src="https://cloud.githubusercontent.com/assets/1243310/19216992/c02d62c6-8da0-11e6-8cd8-6ed92b7c3d09.p

[2016-10-09 03:13] Eyas commented on #116
Fixed by #118, thanks!

[2016-10-09 03:13] #116 closed

[2016-10-09 03:24] #98 closed

[2016-10-09 04:27] #21 closed

[2016-10-09 05:22] shawnlauzon opened #128 "88% of Clinton Foundation funds do NOT go to charity"
This is a mistype on https://hillarymyths.org/issues/clinton-foundation-crooked/

If you go to the city, it says 88% go to "programs", which is not the same as charity. As I understand it, the Clinton Foundation is unique in that it hires its own staff to do work rather than outsource it to other companies. This is why so little of the money actually goes to charity. This is an important distincti

[2016-10-09 05:28] shawnlauzon opened #129 "Back arrow should act like back button"
The left caret on each page makes it seem like it should act like a back button. However it does not: it instead launches the page to the front of the stack. That means that going back to go to the page they were on last means clicking through every single one of the issues that were displayed, which seems odd for clicking on a "back arrow".

The UX should not surprise people, and it does now. I s

[2016-10-09 12:59] #128 closed

[2016-10-09 13:00] Eyas commented on #129
@coreyleamon can you give guidance here? I can fix this but I'm curious about the UX perspective.

[2016-10-09 16:34] shawnlauzon opened #131 "Make Questions more visible"
The Qs should sound out more visibly so that they don't look like a big block of text. Either with more spacing or color, I don't have a preference.

[2016-10-09 23:53] coreyleamon commented on #129
Hey @shawnlauzon , can you expand on what you mean so I can better understand?

There is only one root home and each page is identical, connecting back to that root. There isn't a way to jump between pages without going back to that root first, so there wouldn't be any clicking through different topics to return to your last page... the last page will always be the root.
cc @Eyas

[2016-10-10 04:37] dglazkov commented on #4
This is done, right?

[2016-10-10 04:37] #4 closed

[2016-10-10 04:37] #6 closed

[2016-10-10 04:37] dglazkov commented on #3
Not sure we need to do this anymore. We're live! 😄

[2016-10-10 04:37] #3 closed

[2016-10-10 04:39] dglazkov opened #132 "Trump says Clinton got rapist's charges dropped & laughed at victim"

[2016-10-10 05:38] fny commented on #103
I did everything that was possible, so I'll just close this.

[2016-10-10 05:38] #103 closed

[2016-10-10 16:48] #96 closed

[2016-10-10 19:05] shawnlauzon commented on #129
@coreyleamon Every time you go press the "back" button on your browser, it brings you through the last topic that you saw. The page stack thus looks like this:

Home -> topic 1 -> Home -> topic 2 -> Home -> topic 3 ...
And so when you get to topic 3 and want to go back to whatever you were browsing before, it brings you back through the list. So the last page is NOT always root ... root is the ini

[2016-10-10 19:06] shawnlauzon commented on #129
@coreyleamon In summary, the left arrow _looks_ like a back button, but it _acts_ like a go home button.

[2016-10-10 23:32] coreyleamon commented on #129
@shawnlauzon The back button in my browser always goes back to the home page, regardless of which topic I was just viewing. The carrot acts the same way, and that was always the intention. It is _both_ a back and a home button, because you shouldn't be able to skip between pages without first going back home. People will be interested in certain accusations; nobody will read through every page...

[2016-10-10 23:38] Eyas commented on #129
I think Shawn's point is the following:

If you are initially on the Home page, then go to topic 1, then hit the "back" carat, then go to topic 2, your browser history would look like this:

[code]

If you hit the _browser_ back button once, you'd go to Home. If you hit it again, you'd go back to topic 1. If you hit it yet again, you'd go back to home again.

If you were on the Home page, then go

[2016-10-10 23:49] coreyleamon commented on #129
@Eyas Yes I understand - that would be up to the dev team to make it behave that way, if possible, but it shouldn't affect the user flow.

Honestly, this is an insanely simple site... I doubt people will be trying to move backwards four pages in location history to re-read their first topic when getting back to it is only two clicks with either the carrot _or_ browser back button. And the assumpti

[2016-10-11 03:02] coreyleamon opened #137 "VQA Edits"
Comments are made in red text on four attached screenshots.

<img width="1280" alt="screen shot 2016-10-10 at 10 27 24 pm copy" src="https://cloud.githubusercontent.com/assets/22535879/19257542/5fb8751c-8f3e-11e6-9213-755a6fcc7e92.png">
<img width="1280" alt="screen shot 2016-10-10 at 10 27 32 pm copy" src="https://cloud.githubusercontent.com/assets/22535879/19257543/5fb8dd9a-8f3e-11e6-9497-5fca64

[2016-10-11 03:24] coreyleamon commented on #13
Thoughts on this? Play off ellipsis.

![favicon](https://cloud.githubusercontent.com/assets/22535879/19257810/a9587882-8f40-11e6-9c89-fa5c7dc8f658.png)

[2016-10-11 03:28] Eyas commented on #13
👍

[2016-10-11 04:43] dglazkov commented on #137
- [x] Home page: increase top padding to 40px
- [x] Home page: pageReduce post-animation header size by 4px
- [x] Home page: Increase padding between header and questions by 20px
- [x] Home page: reduce questions' font size by 2px
- [x] Home page: center pre-animation header text in window and increase font size by 10px
- [x] Post page: Increase post header line spacing to 1.3em
- [x] Post page: O

[2016-10-11 04:45] shawnlauzon commented on #129
@coreyleamon That's still not what I'm talking about. I'm not trying suggesting users should be able to loop through answers with some "see next topic" button.

The amount of time already spent explaining this is way too much, but since we've already spent this time. Here's the scenario I was in:
1) Open some page, e.g. slate.com
2) Then I manually type https://hillarymyths.org. Cool!
3) Then view

[2016-10-11 13:05] coreyleamon commented on #129
@shawnlauzon Please see my last comment above. The majority of websites like slate will open an external link as an additional tab because it is common practice to keep users on your website until they intentionally close the window (which makes this an edge case). Changing the carrot to a location history state needs to be addressed by a developer, not me. Changing it to a home button does not so

[2016-10-11 16:13] shawnlauzon commented on #137
@coreyleamon See Issue #131 I suggested that the Questions should pop out more, if you think that's a good improvement, can you suggest a way to do that?

Also, I'm not an expert web developer, but specifying fonts and spacing by px is generally a bad idea, right?

@dglazkov Do you expect one person to handle all of these items, or should we fix individual items and check them off when complete?

[2016-10-11 16:14] shawnlauzon commented on #137
Reducing text size as scroll down would resolve Issue #55

[2016-10-11 16:40] shawnlauzon commented on #137
I'm going to tackle that issue since design thinks it's a good idea.

[2016-10-11 22:48] Eyas commented on #137
@coreyleamon should the "M" in "Myth" match up with just the footer or with the body text as well?

[2016-10-11 22:58] robmyre commented on #132
This is addressed by PR #135.

[2016-10-12 01:18] Eyas opened #141 ""What has Hillary Clinton done for the LGBT community?""
People harp on her delay on supporting gay marriage and the fact that it was Bill Clinton who signed DOMA and saw the implementation of DADT. Let's make her work in this area known.

- http://shewinswewin.org/blog/5-times-hillary-clinton-pushed-for-lgbt-rights/
  - all points here are great
- https://twitter.com/HillaryClinton/status/786002789201682432
  - INTERNATIONALLY: includes HRC DOS policy

[2016-10-12 01:36] coreyleamon commented on #137
@Eyas I think we should keep the body indent, so just the "M" and footer would line up. I noticed someone has now aligned the footer with the body, but that creates misalignment on the homepage... hence aligning it with the header. Thank you! :)

[2016-10-12 01:50] coreyleamon commented on #129
@Eyas Can you help me find out if a dev can make the carrot operate as a browser back button would? If that is not possible, the next option is for us to alter design so users can side-step between pages. Please note this should be lower priority than VQA adjustments, as it is an edge case (most sources will open hillarymyths.org in a new tab). Thank you!

[2016-10-12 01:53] Eyas commented on #129
@coreyleamon We can definitely do that. It would require a tiny bit of JavaScript. We can tackle this once the VQA suggestions are handled.

For posterity (if someone else is considering picking this up): Let's keep the `href` on the back `a` tag so that those with JS disabled can still have a reasonable experience. Then we can bind the `click` event and call `event.preventDefault()` to do what we

[2016-10-12 01:57] coreyleamon commented on #129
@Eyas Perfect — agree to work towards the most common use case first. 👍

[2016-10-12 02:04] shawnlauzon commented on #129
For the record, I don't think implementing side stepping between pages is necessary, and it's certainly not the intent of this issue. And also agree that Issue #137 is more important.

[2016-10-12 02:07] Eyas commented on #137
Making progress!

Two observations:

This is working for me. Where do you see this?

With font size of the header text, my concern is that it has taken a lot of effort to make sure that the view/scaling works on all screen sizes. We're using width/height relative sizing to make sure that text gets bigger with wider screens and taller screens,. Given that "I'd vote for Hillary, but..." text is allo

[2016-10-12 04:28] dglazkov commented on #137
@coreyleamon one thing that's a bit difficult is addressing comments that deal with `px` measurements. Everything is in `em`, so the actual pixels/rendering may be different based on the device. In such cases, I tried to address the spirit of the comments 😄 .

[2016-10-12 04:40] dglazkov commented on #129
FWIW, I think that making the carrot work like a back button seems a bit hacky in principle. For example, if someone deep-links into the site, it seems like the carrot should stop acting like a back button and instead act like a back-to-home button.

[2016-10-12 04:47] coreyleamon commented on #129
I agree with you, @dglazkov , because I've never seen an internal pattern be confused for a browser action. But our peer appears to feel very strongly and creating a back-to-home doesn't resolve the issue of stacking history he brought up. I am willing to go with consensus, whatever it may be, but think the only sensical solution is creating a "previous issue/next issue" scenario.

[2016-10-12 23:36] decause opened #145 "Use http://Iwillvote.com for voter registration link?"
I see we're using rock the vote, which is awesome, but If you'd like to more tightly integrate with campaign tools the tech team has built, pointing folks towards iwillvote.com is the way to go. On top of that, it is newer, and also helps folks who are *already* registered to check and confirm their registration status in all 50 states.

[2016-10-13 00:24] Eyas commented on #145
@pnathan suggested RockTheVote, not sure why (?)

[2016-10-13 00:26] Eyas opened #146 "Update title for "She isn't trustworthy""
Ideas:

* ... "she's not trustworthy. Doesn't Hillary lie all the time?"
* ... "she isn't trustworthy." (no need for question)
* ... "isn't she untrustworthy?"

Disadvantage of 1: long.

Disadvantage of 2: not a question.

Disadvantage of 3: double negative. ish.

[2016-10-13 00:40] Eyas opened #147 "Improve E-mail Article"
Public feedback:

This refers to a post by Clinton sys admin who asked how to remove "from" and "to" email addresses from the records before turning them over. The way it was reported made it seem like a user asked on an online forum how to "hide information", thus obstructing justice / tampering with evidence. In reality the sys admin was attempting to remove e-mail addresses in the e-mail so tha

[2016-10-13 00:41] Eyas commented on #147
Another user also suggests expanding on the timing of the above issue:

[2016-10-13 00:44] Eyas opened #148 "Expand on Libya in hawk article"
Public feedback:

[2016-10-13 00:48] Eyas opened #149 "Clarify & Expand on Truthfulness Article"
Public feedback:

Sanders had lass "pants on fire" facts but also less "true" + "mostly true" facts. Perhaps expand what we mean by HRC being truthful?

[2016-10-13 00:51] Eyas opened #150 "Expand on support of Kurdish Militia"
An unconvinced commenter wrote:

The comment was made in the experience article, but it might also belong in the hawk article.

Let's link to well-researched papers or articles (from foreignpolicy, Carnegie Middle East Center, or some other institute) on role of Kurdish military in the middle east.

[2016-10-13 00:54] robmyre commented on #146
How about just "Doesn't she lie all the time?"  I'm not sure we really need the "trustworthy" part.

[2016-10-13 00:56] Eyas opened #151 "Hillary & Russia Relations: Is she a hawk?"
An unconvinced commenter:

This should be easy to dispel:

1. HRC was involved in the Iran deal, Iran is the Russian sphere, she definitely avoided war with a major country in the Russian sphere that **many** were pushing for
2. There is a difference between cozying up with a country that violates human rights and between being involved in military conflict... this is at the crux of the Obama doct

[2016-10-13 00:58] Eyas opened #152 "Link from trustworthy article and e-mails aritcle"
An unconvinced commenter mentioned the 33,000 e-mails a reason HRC is not trustworthy.

Why not include a **Q** section for that, and just link to the other page from there in the answer?

[2016-10-13 01:55] stefmcneely74 commented on #147
He made this post, clarifying intent: "[–]stonetear[S] 1 point 2 years ago
As a PST file or exported MSG files, this could be done though, yes?
The issue is that these emails involve the private email address of someone you'd recognize, and we're trying to replace it with a placeholder address as to not expose it."

[2016-10-13 02:11] shawnlauzon commented on #101
On PR #153 I removed the "Source" line. It doesn't look like this issue exists any more, suggest closing.

[2016-10-13 02:12] stefmcneely74 commented on #151
http://www.newsweek.com/where-do-clinton-and-trump-stand-russia-487777
“That would not happen, because we're going to put up a no-fly zone where the Russians are clearly kept informed," Clinton said. "I want them at the table."

I'm working on some content to address this.

[2016-10-13 02:12] shawnlauzon commented on #55
Fixed by PR #140

[2016-10-13 02:12] #55 closed

[2016-10-13 02:12] shawnlauzon commented on #131
Not sure where this was fixed, but the Questions are now in blue.

[2016-10-13 02:12] #131 closed

[2016-10-13 02:14] shawnlauzon commented on #132
Since PR #135 is merged, can close this.

[2016-10-13 02:14] #132 closed

[2016-10-13 02:16] shawnlauzon commented on #137
@coreyleamon I've now resolved all issues other than the cursor not changing when hovering over a link. I cannot reproduce this: it changes for me. Could you retest and/or clarify?

[2016-10-13 02:21] Eyas commented on #146
From the feedback we have gotten, a lot of people are going to this article looking at general trust issues they have with her. E.g. #152 went to this article looking for e-mails.

On the one hand, that is an argument to make the title more specific. On the other hand, "trustworthiness" is an important catch-all that might be a good article to get us to funnel people to other parts of the site. So

[2016-10-13 02:24] coreyleamon commented on #137
Since the recent push, my cursor is now reacting properly now so let's close that issue. Maybe it was some sort of glitch in my browser. Thanks, @shawnlauzon !

[2016-10-13 02:24] shawnlauzon commented on #137
Awesome, that resolves everything! Closing.

[2016-10-13 02:24] #137 closed

[2016-10-13 03:14] stefmcneely74 commented on #151
Perhaps something like this would address the concern:
In regards to U.S. relations with Russia, Hillary has a strong record of exploring  diplomatic options and attempts to strengthen relations. As Russia increased air force activity at the beginning of the Ukraine crisis, Hillary was asked if she would shoot down a Russian jet. She replied “That would not happen, because we're going to put up a

[2016-10-13 04:03] stefmcneely74 commented on #152
Is this closed, or does it need more content?

[2016-10-13 04:10] Eyas commented on #152
This particular issue will be closed one #146 is merged.

[2016-10-13 04:52] dglazkov commented on #13
Landed in #157

[2016-10-13 04:52] #13 closed

[2016-10-13 05:21] durka commented on #150
Some links:
- [Syria’s Kurds at the Center of America’s Anti-Jihadi Strategy (Dec 2015)](http://carnegie-mec.org/diwan/62158?lang=en)
- [How the Kurds Became Syria’s New Power Brokers (Feb 2016)](http://foreignpolicy.com/2016/02/18/how-the-kurds-became-syrias-new-power-brokers/)
- [The Perils of a Post-ISIS Iraq (Sep 2016)](http://foreignpolicy.com/2016/09/22/the-perils-of-a-post-isis-iraq/)

[2016-10-13 05:40] durka commented on #146
I like option 2.

[2016-10-13 13:20] robmyre commented on #146
I'm ok with option 2 as the link from the main page. And then, to adhere to the Q&A format in the article itself, we could go with something like:

Q: Is Hillary trustworthy?

A: Yes,...

Thoughts?

[2016-10-13 13:21] Eyas commented on #146
👍 I think I prefer that as well

[2016-10-13 13:42] asfalcone commented on #101
👍

[2016-10-13 13:42] #101 closed

[2016-10-13 14:01] #146 closed

[2016-10-13 14:01] #152 closed

[2016-10-13 16:43] stefmcneely74 commented on #151
Sources:
https://en.wikipedia.org/wiki/Russian_reset

http://www.ontheissues.org/celeb/Hillary_Clinton_Foreign_Policy.htm

http://www.newsweek.com/where-do-clinton-and-trump-stand-russia-487777

https://www.washingtonpost.com/news/the-fix/wp/2015/12/19/3rd-democratic-debate-transcript-annotated-who-said-what-and-what-it-meant/

http://thehill.com/policy/international/212896-clinton-calls-for-tough

[2016-10-14 00:27] robmyre commented on #147
I'm not sure we want to go here. This story is WAY under the radar, especially in light of trump's scandal de jour and the Wikileaks drops every 24 hours. The last article from a reputable source that I could find on this is almost a month old: http://www.usnews.com/news/articles/2016-09-19/paul-combetta-computer-specialist-who-deleted-hillary-clinton-emails-may-have-asked-reddit-for-tips

The onl

[2016-10-14 00:29] robmyre commented on #149
I can try and clean this up tomorrow. Although Bernie had fewer POF comments, overall Hillary was still more truthful when you add up Mostly True, True, and POF.

[2016-10-14 00:31] robmyre commented on #151
@stefmcneely74  I really like this. Do you want to incorporate this into the article? If not, I can probably do it tomorrow.  Thanks!

[2016-10-14 01:28] stefmcneely74 commented on #151
@robmyre I can incorporate it. Thanks.

[2016-10-14 01:35] robmyre commented on #151
Thank you @stefmcneely74 !

[2016-10-14 02:43] Eyas opened #159 "Is Hillary a Hawk? Honduras, Syria, Libya"
An unconvinced commenter:

My thoughts:

* Honduras: I've heard this said a lot by Sanders supporters uneasy with Hillary during the primaries. We should definitely expand on that.
* Not sure what they specifically mean as far "2" is concerned, but explaining HRC Syria policy might help
  * The thing to note here is that people are being gassed, shot, and bombed by the regime, and abused, tortured

[2016-10-18 05:06] Eyas commented on #149
Fixed by #161

[2016-10-18 05:06] #149 closed

[2016-10-18 05:07] Eyas commented on #151
Fixed by #160

[2016-10-18 05:07] #151 closed

[2016-10-18 05:07] Eyas commented on #159
Libya concerns handled in #160. Most of this issue I think is still relevant

[2016-10-18 05:08] Eyas commented on #148
Fixed by #160

[2016-10-18 05:08] #148 closed

[2016-10-18 05:08] Eyas commented on #150
@machen1 can you take this on? Otherwise, @durka would you be interested in helping with this content?

[2016-10-19 02:10] morrellk opened #165 "address concerns about the Supreme Court"
Email feedback to me on an issue to cover:

This does seem like a concern worth addressing to me, though haven't thought much about the best way to do that.

[2016-10-21 22:27] jillh510 opened #167 "Replace "Register to Vote" button with different CTA"
Voter registration is closed or closing in many states. Possible ideas for the button:
- Change text to "commit to vote" (linking to rockthevote.org would still make sense)
- Change to a "donate" button

[2016-10-21 23:23] robmyre commented on #150
I've been really struggling with this one. The problem is that by backing the Kurds, the US potentially jeopardizes our relationship Turkey. Also, the Kurdish organization we back has been labeled as a front for a group that we designated as a terrorist organization in 1997, and then, at the urging of Turkey, upped their terror "rating" even higher in 2001. Not to mention that the Kurds, Sunnis,an

[2016-10-24 03:34] Eyas commented on #150
Sorry for the delay. Yes, with international relations there is always risk, if a critic of HRC criticize every avenue she intends to explore by stating the risks, then that's just a reason to go full-on isolationist (which has inevitable problems, not just risks).

Kurds are an ethnic group so linking an entire ethnicity to terrorism in Turkey decades ago can easily be countered.. but maybe we do

[2016-10-24 20:29] #167 closed

[2016-10-25 21:23] robmyre commented on #141
I'll take this one.

[2016-10-27 12:21] riccardobl opened #171 "You should try to refute Project Veritas"
Good luck with that   :joy:

https://www.youtube.com/watch?v=5IuJGHuIkzY
https://www.youtube.com/watch?v=hDc8PVCvfKs
https://www.youtube.com/watch?v=EEQvsK5w-jY
https://www.youtube.com/watch?v=nUBrZItwVy4

:ram:

[2016-10-27 13:26] Eyas commented on #171
Thanks for the report. The James O'Keeffe videos to me are potentially not worthy to pursue because of a few  things:
1. [As Gerson and others have pointed out](https://www.washingtonpost.com/opinions/the-npr-video-and-political-dirty-tricks/2011/03/17/ABbyMym_story.html?utm_term=.f9e5f3d3eab7), from what we _do_ know about O'Keeffe's unedited footage in his other works, is both selective and dece

[2016-10-27 13:26] #171 closed

[2016-10-27 13:52] riccardobl commented on #171
Ah, you are trying to build a dialog. I though it was propaganda, my bad.
Then, I think you should add what you just said to the website, maybe followed by the links to the videos, so that people can see with their eyes how much James O'Keefe is selective and deceptive.
Maybe you could also talk about http://wikileaks.org, and the fact that 17 agencies think that russia might probably be involved.

[2016-10-27 14:03] Eyas commented on #171
One doesn't prove a video is edited by showing the final video, so posting links to the videos is not helpful. If this were 2011 all over again, where NPR obtained the undoctored videos, then, yes, I agree, posting a comparison between the full and edited videos would have been helpful.

In addition to unlikability concerns which Americans did have, we have also written topics about concerns over

[2016-10-27 14:24] riccardobl commented on #171
Fair enough.
I agree with you, there is no need to talk about DKIM signed emails that are totally false.
And there is no reason to trust video tapes that are proven to come from a source that may be certainly deceptive, contrary to CNN.

Thanks for having dispelled my myths, keep up the good work.

[2016-10-29 13:35] Eyas commented on #150
Fixed with #169.

[2016-10-29 13:35] #150 closed

[2016-10-29 13:36] Eyas commented on #145
We are not using a pledge to vote link to rockthevote.

[2016-10-29 13:36] #145 closed

[2016-10-29 13:38] Eyas commented on #141
Largely address by #170

[2016-10-29 13:38] #141 closed

[2016-10-30 03:09] annporterla commented on #147
May want to look at this in light of the latest press.

[2016-10-30 22:51] durka opened #175 "Add links to anchors"
So you can make a deep link.

[2016-10-31 01:22] #175 closed

[2016-11-03 15:03] andrewjtimmons commented on #165
http://www.cnbc.com/2016/10/19/hillary-clinton-heres-what-i-want-in-the-supreme-court.html

She said in the third debate that she wanted justices that would support women's rights, lgbt rights, defend roe v wade, and overturn citizens united to stop dark money in campaigns.

[2017-02-13 16:19] Tytygh opened #183 "Hilariously Awful"
First, the notion that you'd vote for Shillary is laughable. Second, you made up so many lies to counter these "myths", which is disgusting. Oh, and lastly... **Donald won**, so haha :D

[2017-02-13 17:25] #183 closed